In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sqlalchemy import create_engine

# connect
pg_engine = create_engine("postgresql://django:grandson2025@localhost:5432/skagit")
df = pd.read_sql("SELECT * FROM sale_regression_dataset;", pg_engine)

# prep + filters
df['sale_date'] = pd.to_datetime(df['sale_date'], errors='coerce')
df = df[
    (df['sale_price'] > 50000) &
    (df['living_area'] > 300) &
    (df['lot_acres'] < 10) &
    (df['year_built'] > 1900)
].dropna(subset=['sale_price', 'living_area'])

# derived fields
df['months_since_2015'] = (df['sale_date'] - pd.Timestamp('2015-01-01')).dt.days / 30
df['log_price'] = np.log(df['sale_price'])
df['log_area'] = np.log(df['living_area'])
df['log_lot'] = np.log1p(df['lot_acres'])
df['effective_age'] = (df['year'] - df['eff_year_built']).clip(lower=0)
df['sale_year'] = df['sale_date'].dt.year

# categorical cleanup
for c in ['condition_code', 'neighborhood_code', 'land_use_code']:
    if c in df.columns:
        df[c] = df[c].astype(str).str.strip()

# one-hot encode (include sale_year here so it's consistent)
# one-hot encode
df_encoded = pd.get_dummies(
    df,
    columns=['condition_code', 'land_use_code', 'sale_year'],
    drop_first=False
)

# Drop the most recent year (2025) so it becomes the baseline
if 'sale_year_2025' in df_encoded.columns:
    df_encoded = df_encoded.drop(columns=['sale_year_2025'])
else:
    print("⚠️ No 2025 sales found — using last available year instead.")

# predictors
predictors = [
    'log_area', 'log_lot', 'bedrooms', 'bathrooms',
     'months_since_2015'
] + [c for c in df_encoded.columns if c.startswith(('condition_code_', 'land_use_code_', 'sale_year_'))]

# regression setup
y = df_encoded['log_price']
X = df_encoded[predictors].apply(pd.to_numeric, errors='coerce')
X = sm.add_constant(X)

# drop NaN and cast to float
mask = X.notna().all(axis=1) & y.notna()
X = X.loc[mask].astype('float32')
y = y.loc[mask].astype('float32')

model = sm.OLS(y, X).fit()
print(model.summary())

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "sale_regression_dataset" does not exist
LINE 1: SELECT * FROM sale_regression_dataset;
                      ^

[SQL: SELECT * FROM sale_regression_dataset;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [9]:
# Extract and interpret the year dummy coefficients
time_coefs = model.params.filter(like='sale_year_')
trend = pd.DataFrame({
    'year': [int(c.split('_')[-1]) for c in time_coefs.index],
    'coef': time_coefs.values
}).sort_values('year')

# Convert log differences to % changes from base year
trend['percent_change'] = (np.exp(trend['coef']) - 1) * 100
print(trend)

   year      coef  percent_change
0  2016 -0.066587       -6.441885
1  2017 -0.120669      -11.367303
2  2018 -0.144103      -13.420153
3  2019 -0.228180      -20.401943
4  2020 -0.210849      -19.010353
5  2021 -0.194005      -17.634588
6  2022 -0.235669      -20.995813
7  2023 -0.368373      -30.814093
8  2024 -0.438588      -35.505367
9  2025 -0.580656      -44.046856

In [13]:
import pandas as pd
from sqlalchemy import create_engine
pg_engine = create_engine("postgresql://django:grandson2025@localhost:5432/skagit")
df = pd.read_sql("SELECT * FROM sale_regression_dataset;", pg_engine)
print(df.shape)
df.head()

(52992, 20)

,id,sale_id,parcel_number,year,sale_price,sale_date,assessed_value,total_market_value,living_area,condition_code,lot_acres,bedrooms,bathrooms,year_built,eff_year_built,latitude,longitude,neighborhood_code,land_use_code,property_type
0,1,3,P30302,2024,350000,2025-10-02,370800,370800,1504,F,5.00,NaN,2.0,1986.0,1997.0,48.438982,-122.206538,20SWBIGLK,180,R
1,2,6,P127523,2024,1025000,2025-10-02,844200,844200,1856,VG,0.33,3.0,2.5,2016.0,2021.0,48.491420,-122.601281,20ASOUTH,111,R
2,3,16,P61981,2025,1950000,2025-10-28,1915500,1915500,988,G,0.71,2.0,NaN,2012.0,2019.0,48.387038,-122.242816,22SWBIGLK,112,R
3,4,22,P108552,2025,935000,2025-10-27,983400,983400,3508,None,2.50,4.0,NaN,2006.0,2015.0,48.434424,-122.586611,20FIDALGO,110,R
4,5,23,P71697,2025,485000,2025-10-24,366000,366000,908,None,0.13,2.0,NaN,1949.0,1991.0,48.473368,-122.325286,20BCENTRAL,111,R

In [41]:
df = df[
    (df['sale_price'] > 50000) &
    (df['living_area'] > 300) &
    (df['lot_acres'] < 10) &
    (df['year_built'] > 1900) &
    (df['months_since_2015'] == ((pd.to_datetime(df['sale_date']) - pd.Timestamp('2015-01-01')).dt.days) / 30)
]

df = df.dropna(subset=['sale_price','living_area'])
# Create effective age
df["effective_age"] = df["year"] - df["eff_year_built"]
df["effective_age"] = df["effective_age"].clip(lower=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43003 entries, 0 to 52991
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  43003 non-null  int64
 1   sale_id             43003 non-null  int64
 2   parcel_number       43003 non-null  object
 3   year                43003 non-null  int64
 4   sale_price          43003 non-null  int64
 5   sale_date           43003 non-null  datetime64[ns]
 6   assessed_value      43003 non-null  int64
 7   total_market_value  43003 non-null  int64
 8   living_area         43003 non-null  int64
 9   condition_code      43003 non-null  object
 10  lot_acres           43003 non-null  float64
 11  bedrooms            39359 non-null  float64
 12  bathrooms           20421 non-null  float64
 13  year_built          43003 non-null  float64
 14  eff_year_built      43003 non-null  float64
 15  latitude            42997 non-null  float64
 16  longitude           42997 non-null  float64
 17  neighborhood_code   43003 non-null  object
 18  land_use_code       43003 non-null  object
 19  property_type       43003 non-null  object
 20  log_price           43003 non-null  float64
 21  log_area            43003 non-null  float64
 22  months_since_2015   43003 non-null  float64
 23  effective_age       43003 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(7), object(5)
memory usage: 8.2+ MB

In [33]:
import numpy as np
df['log_price'] = np.log(df['sale_price'])
df['log_area'] = np.log(df['living_area'])

In [ ]:
for c in ['condition_code', 'neighborhood_code', 'land_use_code']:
    if c in df.columns:
        df[c] = df[c].astype(str).str.strip()
df.info()

In [ ]:
# Log-transform lot size
df["log_lot"] = np.log1p(df["lot_acres"])

# One-hot encode key categorical variables
df_encoded = pd.get_dummies(
    df,
    columns=["condition_code", "neighborhood_code", "land_use_code"],
    drop_first=True
)

# Core features
predictors = [
    "log_area",
    "log_lot",
    "bedrooms",
    "bathrooms",
    "effective_age",
    "months_since_2015"
]

# Add dummies
predictors += [
    col for col in df_encoded.columns
    if col.startswith(("condition_code_", "neighborhood_code_", "land_use_code_"))
]